---
layout: default
---
<article class="post">
  {% if page.external-url %}
    <h2>
      <a href="{{ page.external-url }}">{{ page.title }}</a>
    </h2>
  {% else %}
    <h2>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h2>
  {% endif %}

  <p class="meta">
  <span class="postdate"><i class="fa-regular fa-calendar"></i> {{ page.date | date: "%Y-%m-%d" }}
  &nbsp;&nbsp;
  <i class="fa-regular fa-clock"></i> {% include reading-time.html %}</span>
  </p>

  <div class="post-content">{{ content }}</div>

  {% include giscus.html %}

</article>
